trunk/source/CAWL_1_0/somar_action_xsd/Move.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by emprincess (ss) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Move">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AxisX"/>
				<xs:element name="AxisY"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
