trunk/source/CAWL_1_0/uWDL_v2_0_pre_a2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by user (askljfhsaldfh j) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by goodboy3 (sslab) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:uflow="http://www.uflow.org/uWDL2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.uflow.org/uWDL2" elementFormDefault="qualified">
	<import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="http://schemas.xmlsoap.org/wsdl/"/>
	<element name="uWDL">
		<complexType>
			<complexContent>
				<extension base="uflow:uWDLType"/>
			</complexContent>
		</complexType>
	</element>
	<complexType name="documentationType">
		<sequence>
			<element name="documentation" minOccurs="0">
				<complexType mixed="true">
					<sequence>
						<any minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="uWDLType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="baseOntologies">
						<complexType>
							<sequence>
								<element name="ontology" type="uflow:ontologyType" maxOccurs="unbounded"/>
							</sequence>
						</complexType>
					</element>
					<element name="serviceProviderType" type="uflow:serviceProviderTypeType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="serviceProvider" type="uflow:serviceProviderType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="message" type="uflow:messageType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="variable" type="uflow:variableType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="activator" type="uflow:activatorType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="flow" type="uflow:flowType" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="name" type="NCName"/>
				<attribute name="targetNamespace" type="anyURI"/>
				<attribute name="version" type="string"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ontologyType">
		<complexContent>
			<extension base="uflow:documentationType">
				<attribute name="location" type="anyURI" use="required"/>
				<attribute name="namespace" type="anyURI" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="serviceProviderTypeType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="portType" type="uflow:portTypeType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="name" type="NCName" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="serviceProviderType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="locator" type="uflow:locatorType"/>
				</sequence>
				<attribute name="name" type="NCName" use="required"/>
				<attribute name="type" type="QName" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="locatorType">
		<sequence>
			<any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="type">
			<simpleType>
				<restriction base="string">
					<enumeration value="static"/>
					<enumeration value="UDDI"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="service" type="QName"/>
	</complexType>
	<complexType name="portTypeType">
		<complexContent>
			<extension base="wsdl:tPortType">
				<sequence>
					<element name="import" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<attribute name="portType" type="QName"/>
							<attribute name="operation" type="NCName"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="messageType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="part" type="uflow:partType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="name" type="NCName" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="partType">
		<complexContent>
			<extension base="uflow:documentationType">
				<attribute name="name" type="NCName" use="required"/>
				<attribute name="element" type="QName" use="optional"/>
				<attribute name="type" type="QName" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="variableType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="initialize" type="uflow:initializeType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="name" type="NCName" use="required"/>
				<attribute name="type" type="QName" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="initializeType">
		<sequence>
			<element name="from" type="uflow:fromType"/>
		</sequence>
		<attribute name="part" type="NCName" use="required"/>
	</complexType>
	<complexType name="fromType">
		<attribute name="variable" type="QName" use="optional"/>
		<attribute name="part" type="NCName" use="optional"/>
		<attribute name="expression" type="xsd:string" use="optional"/>
	</complexType>
	<complexType name="activatorType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="condition" type="uflow:conditionType"/>
					<element name="activate" type="uflow:activateType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="deactivate" type="uflow:deactivateType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="name" type="xsd:string" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="conditionType">
		<complexContent>
			<extension base="uflow:documentationType">
				<choice>
					<element name="case" type="uflow:caseType" minOccurs="0"/>
					<element name="context" minOccurs="0">
						<complexType>
							<complexContent>
								<extension base="uflow:contextType">
									<attribute name="priority" type="string" use="optional"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</choice>
				<attribute name="expression" type="xsd:string" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="caseType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="event" type="uflow:eventType" minOccurs="0"/>
				</sequence>
				<attribute name="name" type="NCName" use="optional"/>
				<attribute name="expression" type="xsd:string" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="eventType">
		<complexContent>
			<extension base="uflow:documentationType">
				<attribute name="serviceProvider" type="QName" use="required"/>
				<attribute name="portType" type="NCName" use="required"/>
				<attribute name="operation" type="NCName" use="required"/>
				<attribute name="output" type="QName" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="contextType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="rule" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="uflow:ruleType">
									<attribute name="expression" type="string" use="optional"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ruleType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="constraint" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="uflow:constraintType">
									<attribute name="restriction" type="xsd:string" use="optional"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
				<attribute name="contribute" use="optional" default="positive">
					<annotation>
						<documentation>positive or nagative</documentation>
					</annotation>
					<simpleType>
						<restriction base="xsd:string">
							<enumeration value="positive"/>
							<enumeration value="negative"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="constraintType">
		<all>
			<element name="subject" type="uflow:subjectType"/>
			<element name="verb" type="xsd:string"/>
			<element name="object" type="uflow:objectType"/>
		</all>
		<attribute name="name" type="NCName" use="optional"/>
	</complexType>
	<complexType name="subjectType">
		<simpleContent>
			<extension base="xsd:string">
				<attribute name="type" type="QName" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="objectType">
		<simpleContent>
			<extension base="xsd:string">
				<attribute name="type" type="QName" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="activateType">
		<complexContent>
			<extension base="uflow:documentationType">
				<attribute name="activator" type="QName" use="optional"/>
				<attribute name="flow" type="QName" use="optional"/>
				<attribute name="input" type="QName" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="deactivateType">
		<complexContent>
			<extension base="uflow:documentationType">
				<attribute name="activator" type="QName" use="optional"/>
				<attribute name="flow" type="QName" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="flowType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="message" type="uflow:messageType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="useVar" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<attribute name="from" type="NCName"/>
						</complexType>
					</element>
					<element name="variable" type="uflow:variableType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="source">
						<complexType>
							<complexContent>
								<extension base="uflow:sourceType">
									<choice>
										<element name="transition">
											<complexType>
												<attribute name="linkId"/>
											</complexType>
										</element>
										<element name="parallel">
											<complexType>
												<sequence>
													<element name="transition" maxOccurs="unbounded">
														<complexType>
															<attribute name="linkId" use="required"/>
														</complexType>
													</element>
												</sequence>
											</complexType>
										</element>
									</choice>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="node" type="uflow:nodeType" maxOccurs="unbounded"/>
					<element name="link" type="uflow:linkType" maxOccurs="unbounded"/>
					<element name="sink" minOccurs="0">
						<complexType>
							<complexContent>
								<extension base="uflow:sinkType"/>
							</complexContent>
						</complexType>
					</element>
				</sequence>
				<attribute name="name" type="NCName" use="optional"/>
				<attribute name="default" type="xsd:boolean" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="sourceType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="input" type="uflow:inputType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="inputType">
		<complexContent>
			<extension base="uflow:documentationType">
				<attribute name="name" type="NCName" use="required"/>
				<attribute name="type" type="QName" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="nodeType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="synchronize" minOccurs="0">
						<complexType>
							<sequence>
								<element name="nSync" maxOccurs="unbounded">
									<complexType/>
								</element>
							</sequence>
							<attribute name="type"/>
						</complexType>
					</element>
					<element name="message" type="uflow:messageType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="variable" type="uflow:variableType" minOccurs="0" maxOccurs="unbounded"/>
					<choice>
						<element name="invoke" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<complexContent>
									<extension base="uflow:invokeType">
										<attribute name="flow" type="xsd:NCName" use="optional"/>
										<attribute name="condition" type="xsd:QName" use="required"/>
									</extension>
								</complexContent>
							</complexType>
						</element>
						<element name="wait" type="uflow:waitType" minOccurs="0" maxOccurs="unbounded"/>
						<element name="copy" minOccurs="0"/>
						<element name="fork" minOccurs="0">
							<complexType>
								<sequence>
									<element name="invoke" maxOccurs="unbounded">
										<complexType>
											<complexContent>
												<extension base="uflow:invokeType">
													<attribute name="flow" type="NCName" use="optional"/>
													<attribute name="condition" type="QName" use="required"/>
												</extension>
											</complexContent>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
					</choice>
					<element name="condition" type="uflow:conditionType"/>
					<choice>
						<element name="transition">
							<complexType>
								<attribute name="linkId"/>
							</complexType>
						</element>
						<element name="parallel">
							<complexType>
								<sequence>
									<element name="transition" maxOccurs="unbounded">
										<complexType>
											<attribute name="linkId" use="required"/>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
					</choice>
				</sequence>
				<attribute name="name" type="NCName" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="copyType">
		<sequence>
			<element name="from" type="uflow:fromType"/>
			<element name="to" type="uflow:toType"/>
		</sequence>
	</complexType>
	<complexType name="toType">
		<attribute name="variable" type="QName" use="required"/>
		<attribute name="part" type="NCName" use="optional"/>
	</complexType>
	<complexType name="invokeType">
		<attribute name="serviceProvider" type="QName" use="required"/>
		<attribute name="portType" type="NCName" use="required"/>
		<attribute name="operation" type="NCName" use="required"/>
		<attribute name="input" type="QName" use="optional"/>
		<attribute name="output" type="QName" use="optional"/>
	</complexType>
	<complexType name="waitType">
		<attribute name="serviceProvider" type="QName" use="required"/>
		<attribute name="portType" type="NCName" use="required"/>
		<attribute name="operation" type="NCName" use="required"/>
		<attribute name="output" type="QName" use="optional"/>
	</complexType>
	<complexType name="linkType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="copy" type="uflow:copyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="id" type="anyURI" use="required"/>
				<attribute name="to" type="anyURI" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="sinkType">
		<complexContent>
			<extension base="uflow:documentationType">
				<sequence>
					<element name="synchronize" minOccurs="0">
						<complexType>
							<sequence>
								<element name="nSync" maxOccurs="unbounded">
									<complexType/>
								</element>
							</sequence>
							<attribute name="type"/>
						</complexType>
					</element>
					<element name="output" minOccurs="0">
						<complexType>
							<complexContent>
								<extension base="uflow:outputType"/>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="outputType">
		<complexContent>
			<extension base="uflow:documentationType">
				<attribute name="name" type="NCName" use="required"/>
				<attribute name="type" type="QName" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="subflowType">
		<attribute name="subflow" type="QName" use="required"/>
	</complexType>
</schema>
