source/CAWL_1_0/uWDL.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by . (.) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT xs:all (xs:element+)>
<!ELEMENT xs:annotation (xs:documentation)>
<!ELEMENT xs:attribute (xs:annotation?)>
<!ATTLIST xs:attribute
	name (log | name | nodeName | object | subject | type | verb | version) #REQUIRED
	type (xs:anySimpleType | xs:decimal | xs:int | xs:string) #IMPLIED
	use (optional | required) #IMPLIED
	default CDATA #IMPLIED
	fixed CDATA #IMPLIED
>
<!ELEMENT xs:choice (xs:element+)>
<!ELEMENT xs:complexContent (xs:extension)>
<!ELEMENT xs:complexType (xs:choice?, xs:all?, xs:sequence?, xs:attribute*, xs:complexContent?)>
<!ATTLIST xs:complexType
	name (constraintType | customizationType | exportType) #IMPLIED
>
<!ELEMENT xs:documentation (#PCDATA)>
<!ELEMENT xs:element (xs:complexType?)>
<!ATTLIST xs:element
	name (action | case | condition | constraint | context | correlation | customization | description | event | export | join | link | location | node | object | operation | port | porttype | profile | property | result | rule | service | sink | source | state | subject | target | transition | uWDL | uflow | verb | wsdl) #IMPLIED
	type (customizationType | exportType | xs:ID | xs:anyType | xs:anyURI | xs:string) #IMPLIED
	ref (action | condition | context | description | link | node | operation | porttype | service | sink | source | uflow | wsdl) #IMPLIED
	maxOccurs CDATA #IMPLIED
	minOccurs CDATA #IMPLIED
>
<!ELEMENT xs:extension (xs:all | xs:attribute)>
<!ATTLIST xs:extension
	base (constraintType | xs:anyType) #REQUIRED
>
<!ELEMENT xs:schema (xs:element+, xs:complexType+)>
<!ATTLIST xs:schema
	xmlns:xdb CDATA #REQUIRED
	xmlns:xs CDATA #REQUIRED
	elementFormDefault CDATA #REQUIRED
	attributeFormDefault CDATA #REQUIRED
>
<!ELEMENT xs:sequence (xs:element, xs:choice?)>
