source/CAWL_1_0/uWDL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by . (.) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by . (.) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xdb="http://xmlns.oracle.com/xdb" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="action">
		<xs:complexType>
			<xs:choice>
				<xs:element name="export" type="exportType"/>
				<xs:element name="transition" type="xs:ID"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="service">
		<xs:complexType>
			<xs:all>
				<xs:element ref="wsdl"/>
				<xs:element ref="porttype"/>
				<xs:element ref="operation"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="uflow">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="location" type="xs:anyURI"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="condition">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="context"/>
				<xs:element name="profile">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="customization" type="customizationType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="event">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="property" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="correlation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="join" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="target"/>
										<xs:element name="state"/>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="result" type="xs:anyType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="link">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="case" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element ref="condition"/>
							<xs:element ref="action"/>
						</xs:all>
						<xs:attribute name="type" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="nodeName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="operation" type="xs:string"/>
	<xs:element name="porttype" type="xs:string"/>
	<xs:element name="node">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="uflow"/>
					<xs:element ref="service"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="log" type="xs:int" use="optional" default="0">
				<xs:annotation>
					<xs:documentation>This is the amount of provenance information that the processor should provide. Currently ignored by the enactor, it is set to a default of zero corresponding to no provenance generation.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="uWDL">
		<xs:complexType>
			<xs:all>
				<xs:element ref="node" maxOccurs="unbounded"/>
				<xs:element ref="link" maxOccurs="unbounded"/>
				<xs:element ref="source"/>
				<xs:element ref="sink" maxOccurs="unbounded"/>
			</xs:all>
			<xs:attribute name="version" type="xs:decimal" use="required" fixed="0.1"/>
			<xs:attribute name="log" type="xs:int" use="optional" default="0">
				<xs:annotation>
					<xs:documentation>Optional specification of how much provenance information is generated by invocations of this workflow. Currently ignored by the enactor and set by default to zero, corresponding to no provenance generation.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sink"/>
	<xs:element name="source"/>
	<xs:element name="state"/>
	<xs:element name="wsdl" type="xs:anyURI"/>
	<xs:element name="context">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rule" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="constraint" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="constraintType">
											<xs:all>
												<xs:element name="subject">
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="xs:anyType">
																<xs:attribute name="type" type="xs:anySimpleType" use="required"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
												<xs:element name="verb">
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="xs:anyType">
																<xs:attribute name="type" type="xs:anySimpleType" use="required"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
												<xs:element name="object">
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="xs:anyType">
																<xs:attribute name="type" type="xs:anySimpleType" use="required"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:all>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="location"/>
	<xs:element name="event">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="exportType">
		<xs:sequence>
			<xs:element name="port"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="constraintType">
		<xs:attribute name="type"/>
	</xs:complexType>
	<xs:complexType name="customizationType">
		<xs:attribute name="type"/>
		<xs:attribute name="subject"/>
		<xs:attribute name="verb"/>
		<xs:attribute name="object"/>
	</xs:complexType>
</xs:schema>
